@model EuroPallets.ViewModels.ForgotPasswordViewModel

<link href="~/assets/css/pages/log-reg.css" rel="stylesheet" />

<style>
    .btm-margin-5 {
        margin-bottom: 5%;
    }
</style>

<div class="log-reg-v3 content-md margin-bottom-30">
    <div class="container">
        <div class="row btm-margin-5">
            <div class="col-md-7 md-margin-bottom-50">
                <h2 class="welcome-title">Добре дошли в Mebellete</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-4 md-margin-bottom-20">
                        <div class="site-statistics">
                            <span>1,109</span>
                            <small>Продукта</small>
                        </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-20">
                        <div class="site-statistics">
                            <span>54,283</span>
                            <small>Преглеждания</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="site-statistics">
                            <span>+10 000</span>
                            <small>Продажби</small>
                        </div>
                    </div>
                </div>
                <div class="members-number">
                    <h3>Присъедини се към <span class="shop-green">257</span> градове за доставка</h3>
                    <img class="img-responsive" src="~/assets/img/forgot-password/fp-img.jpg" alt="доставка в цяла България">
                </div>
            </div>
            <div class="col-md-5">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "log -reg-block sky-form", role = "form", data_toggle = "validator" ,id="form"}))
            {
                    <div class="login-input reg-input">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.AntiForgeryToken()
                                <h2>Забравена парола</h2>

                                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                                <section>
                                    <label class="input">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", id = "email", required = "required", type="email" })
                                    </label>
                                </section>

                                <button id="btnSubmit" class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Изпрати Email</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script>
  
        //$("#btnSubmit").on("click", function () {
        //    var email = $("#email").val();
        //    if (email) {
        //        if (validateEmail(email)) {
        //            notification('Success', 'Email е успешно изпратен');
        //        } else {
        //            notification('Error', 'Въвели сте грешен Email !');
        //        }
        //    }
        //});

        function validateEmail(email) {
            var email_regex = "^[_A-z0-9]{1,}$";

            return email.match(pattern);
        }
    </script>
}
